body{
	text-align: center;
	
}
#horloge--minute{
	background-image: url('https://pub.phyks.me/sdz/sdz/medias/uploads.siteduzero.com_files_163001_164000_163059.png');
	background-position: relative;
	background-repeat: no-repeat;
	margin: auto;
	display:flex;
	height: 400px;
	width: 400px;
	background-size: contain;
}
#centre{
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	left: 645px;
	top:200px;
}

#heure{
	border-left:3px solid black;
	height: 130px;
	top: 76px;
	left: 649px; 
	position: absolute;

}
#sec{
	border-left:2px solid red;
	height: 180px;
	top: 27px;
	left: 649px; 
	position: absolute;

}

#minute{
	border-right: solid 3px grey;
	left: 649px;
	top: 43px;
	height: 165px; 
	position: absolute;
}
/*
@keyframes tour{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
*/
#minute{
    animation: tour 3600s linear infinite;
    transform-origin: bottom 175px;
}
#heure{
    animation: tour 43200s linear infinite;
    transform-origin: bottom 175px;
}
#sec{
    animation: tour 60s linear infinite;
    transform-origin: bottom 175px;
}